@model Bolum
@{
    ViewData["Title"] = "Ekle_Guncelle";
}

<div class="row">
	<div class="col-sm-12">
		<div class="card">
			<div class="card-body">
				<form asp-controller="Bolum" asp-action="Ekle_Guncelle" method="post">
					
					<div class="row">
						<div class="col-12">
							<h5 class="form-title"><span>Ders Detayları</span></h5>
						</div>
						<div class="col-12 col-sm-4">
							<div class="form-group local-forms">
								<label>Bölüm İsmi<span class="login-danger">*</span></label>
								<input asp-for="BolumIsmi" class="form-control">
							</div>
						</div>
						<div class="col-12 col-sm-4">
							<div class="form-group local-forms">
								<label>Bölüm Başkanı<span class="login-danger">*</span></label>
								<input asp-for="BolumBaskani" class="form-control" >
							</div>
						</div>
						<div class="col-12">
							<div class="student-submit">
								<button type="submit" class="btn btn-primary">Onayla</button>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>


