@model Bolum
@{
    ViewData["Title"] = "Ekle_Guncelle";
}

<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-body">
                <form asp-controller="Bolum" asp-action="Ekle_Guncelle" method="post">
                    <div class="row">
                        <div class="col-12">
                            <h5 class="form-title"><span>Bölüm Ekle / Düzenle</span></h5>
                        </div>
                        <div class="col-12 col-sm-4">
                            <div class="form-group local-forms">
                                <label>Bölüm<span class="login-danger">*</span></label>
                                <input asp-for="BolumAd" type="text" class="form-control">
                                <span asp-validation-for="BolumAd" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-12 col-sm-4">
                            <div class="form-group local-forms">
                                <label>Bölüm Başkanı</label>
                                <select asp-for="BolumBaskani" asp-items="ViewBag.Ogretmenler" class="form-control select2">
                                </select>
                                <span asp-validation-for="BolumBaskani" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-12 col-sm-4">
                            <div class="form-group local-forms">
                                <label>Fakülte<span class="login-danger">*</span></label>
                                <select asp-for="FakulteId" asp-items="ViewBag.Fakulteler" class="form-control select2">
                                    <option value="">Seçiniz</option>
                                </select>
                                <span asp-validation-for="FakulteId" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="student-submit">
                                <button type="submit" class="btn btn-primary">Kaydet</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


