@if(TempData["message"] != null)
{
    <div class="alert alert-warning">
        @TempData["message"]
    </div>
}

<!DOCTYPE html>
<html lang="en">

<!-- Mirrored from preschool.dreamstechnologies.com/template/login.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 28 Feb 2024 12:39:18 GMT -->
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <title>Giriş - Ögrenci Bilgi Sistemi </title>

    <link rel="shortcut icon" href="~/panel/img/favicon.png">

    <link rel="stylesheet" href="~/panel/css/bootstrap.min.css">

    <link rel="stylesheet" href="~/panel/plugins/feather/feather.css">

    <link rel="stylesheet" href="~/panel/plugins/icons/flags/flags.css">

    <link rel="stylesheet" href="~/panel/plugins/fontawesome/css/fontawesome.min.css">
    <link rel="stylesheet" href="~/panel/plugins/fontawesome/css/all.min.css">

    <link rel="stylesheet" href="~/panel/css/style.css">

   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css">

</head>


<body>


    <main>

        @RenderBody()


    </main>


    <script src="~/panel/js/jquery-3.7.1.min.js" type="13f1206a3eedd1b78beba8a2-text/javascript"></script>

    <script src="~/panel/js/bootstrap.bundle.min.js" type="13f1206a3eedd1b78beba8a2-text/javascript"></script>

    <script src="~/panel/js/feather.min.js" type="13f1206a3eedd1b78beba8a2-text/javascript"></script>

    <script src="~/panel/js/script.js" type="13f1206a3eedd1b78beba8a2-text/javascript"></script>
    <script src="~/panel/js/rocket-loader.min.js" data-cf-settings="13f1206a3eedd1b78beba8a2-|49" defer></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    
</body>
<!-- Mirrored from preschool.dreamstechnologies.com/template/login.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 28 Feb 2024 12:39:18 GMT -->
</html>