@model Ogrencis
@{
    ViewData["Title"] = "Ekle_Guncelle";
}

<div class="row">
    <div class="col-sm-12">
        <div class="card comman-shadow">
            <div class="card-body">
                <form asp-action="Ekle_Guncelle" asp-controller="Ogrenci" enctype="multipart/form-data" method="post" novalidate>

                    <div class="row">
                        <div class="col-12">
                            <h5 class="form-title student-info">Öğrenci Ekle / Düzenle<span><a href="javascript:;"><i class="feather-more-vertical"></i></a></span></h5>
                        </div>
                        <div class="col-12 col-sm-4">
                            <div class="form-group local-forms">
                                <label>TC Kimlik Numarası<span class="login-danger">*</span></label>
                                <input id="tc" asp-for="OgrenciTc" class="form-control">
                                <span asp-validation-for="OgrenciTc" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-12 col-sm-4">
                            <div class="form-group local-forms">
                                <label>Adı<span class="login-danger">*</span></label>
                                <input asp-for="OgrenciAd" class="form-control" type="text">
                                <span asp-validation-for="OgrenciAd" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-12 col-sm-4">
                            <div class="form-group local-forms">
                                <label>Soyadı<span class="login-danger">*</span></label>
                                <input asp-for="OgrenciSoyad" class="form-control" type="text">
                                <span asp-validation-for="OgrenciSoyad" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-12 col-sm-4">
                            <div class="form-group local-forms">
                                <label>Doğum Tarihi<span class="login-danger">*</span></label>
                                <input asp-for="OgrenciDogumTarihi" class="form-control" type="date">
                                <span asp-validation-for="OgrenciDogumTarihi" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="col-12 col-sm-4">
                            <div class="form-group local-forms">
                                <label>Cinsiyet<span class="login-danger">*</span></label>
                                <select asp-for="OgrenciCinsiyet" class="form-control select">
                                    <option value="">Seçiniz</option>
                                    <option>Kız</option>
                                    <option>Erkek</option>
                                </select>
                                <span asp-validation-for="OgrenciCinsiyet" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-12 col-sm-4">
                            <div class="form-group local-forms">
                                <label>Sınıf<span class="login-danger">*</span></label>
                                <select asp-for="OgrenciSinif" class="form-control select">
                                    <option value="0">Seçiniz</option>
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                    <span asp-validation-for="OgrenciSinif" class="text-danger"></span>
                                </select>
                            </div>
                        </div>
                        <div class="col-12 col-sm-4">
                            <div class="form-group local-forms">
                                <label>Telefon Numarası<span class="login-danger">*</span></label>
                                <input id="telefon" asp-for="OgrenciTelefon" class="form-control" type="text">
                                <span asp-validation-for="OgrenciTelefon" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="col-12 col-sm-4 ">
                            <div class="form-group local-forms">
                                <label>Kayıt Tarihi<span class="login-danger">*</span></label>
                                <input asp-for="OgrenciKayitTarihi" class="form-control" type="date">
                                <span asp-validation-for="OgrenciKayitTarihi" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-12 col-sm-4">
                            <div class="form-group">
                                @if (Model != null)
                                {
                                    <input asp-for="OgrenciFotograf" value="@Model.OgrenciFotograf" type="hidden" />
                                }
                                <label for="files" class="btn btn-outline-primary px-4 pb-2 pt-2 ">Fotoğraf Yükle (150 X 150)</label>
                                <input id="files" style="display:none;" type="file" name="file">
                                <span asp-validation-for="OgrenciFotograf" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-12">
                            <h5 class="form-title"><span>Giriş Bilgileri</span></h5>
                        </div>
                        <div class="col-12 col-sm-4">
                            <div class="form-group local-forms">
                                <label>E-Mail <span class="login-danger">*</span></label>
                                <input asp-for="OgrenciEposta" class="form-control" type="email">
                                <span asp-validation-for="OgrenciEposta" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-12 col-sm-4">
                            <div class="form-group local-forms">
                                <label>Parola<span class="login-danger">*</span></label>
                                <input asp-for="OgrenciParola" class="form-control" type="text">
                                <span asp-validation-for="OgrenciParola" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-12 col-sm-4">
                            <div class="form-group local-forms">
                                <label>Parola<span class="login-danger">*</span></label>
                                <input asp-for="OgrenciParolaOnayla" class="form-control" type="text">
                                <span asp-validation-for="OgrenciParolaOnayla" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-12">
                            <h5 class="form-title"><span>Adres</span></h5>
                        </div>
                        <div class="col-12 col-sm-12">
                            <div class="form-group local-forms">
                                <label>Adres<span class="login-danger">*</span></label>
                                <input asp-for="Adres.AcıkAdres" type="text" class="form-control">
                                <span asp-validation-for="Adres.AcıkAdres" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-12 col-sm-4">
                            <div class="form-group local-forms">
                                <label>Ülke<span class="login-danger">*</span></label>
                                <input asp-for="Adres.Ulke" type="text" class="form-control">
                                <span asp-validation-for="Adres.Ulke" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-12 col-sm-4">
                            <div class="form-group local-forms">
                                <label>Şehir<span class="login-danger">*</span></label>
                                <input asp-for="Adres.Sehir" type="text" class="form-control">
                                <span asp-validation-for="Adres.Sehir" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-12 col-sm-4">
                            <div class="form-group local-forms">
                                <label>İlçe<span class="login-danger">*</span></label>
                                <input asp-for="Adres.Ilce" type="text" class="form-control">
                                <span asp-validation-for="Adres.Ilce" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="col-12">
                            <h5 class="form-title"><span>Okul Bilgileri</span></h5>
                        </div>
                        <div class="col-12 col-sm-4">
                            <div class="form-group local-forms">
                                <label>Bölüm Seç<span class="login-danger">*</span></label>
                                <select asp-for="BolumId" asp-items="ViewBag.Bolum" class="form-control select">
                                    <option value="">Seçiniz</option>
                                </select>
                                <span asp-validation-for="BolumId" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-12 col-sm-4">
                            <div class="form-group local-forms">
                                <label>Danışman Seç<span class="login-danger">*</span></label>
                                <select asp-for="OgrenciDanisman" asp-items="ViewBag.Ogretmen" class="form-control select">
                                    <option value="">Seçiniz</option>
                                </select>
                                <span asp-validation-for="OgrenciDanisman" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="student-submit">
                                <button type="submit" class="btn btn-primary">Onayla</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script>
        document.querySelector("#files").onchange = function () {
            const fileName = this.files[0]?.name;
            const label = document.querySelector("label[for=files]");
            label.innerText = fileName ?? "FOTOĞRAF YÜKLE (150 X 150)";
        };
    </script>
}


