@model AkademikTakvim
@{
    ViewData["Title"] = "Ekle";
}


<div class="page-header">
    <div class="row align-items-center">
        <div class="col">
            <h3 class="page-title">Akademik Takvim Ekle</h3>
            <ul class="breadcrumb">
                <li class="breadcrumb-item"><a href="teachers.html">Akademik Takvimler</a></li>
                <li class="breadcrumb-item active">Akademik Takvim Ekle</li>
            </ul>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-body">
                <form asp-action="Ekle_Guncelle" asp-controller="Takvim" method="post">
                    <div class="row">
                        <div class="col-12">
                            <h5 class="form-title"><span>Akademik Takvim Ekle</span></h5>
                        </div>
                        <div class="col-12 col-sm-4">
                            <div class="form-group local-forms">
                                <label>Başlangıç Tarihi<span class="login-danger">*</span></label>
                                <input asp-for="AkademikTakvimBaslangic" class="form-control" type="date">
                                <span asp-validation-for="AkademikTakvimBaslangic" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-12 col-sm-4">
                            <div class="form-group local-forms">
                                <label>Bitiş Tarihi<span class="login-danger">*</span></label>
                                <input asp-for="AkademikTakvimBitis" class="form-control" type="date">
                                <span asp-validation-for="AkademikTakvimBitis" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-12 col-sm-4">
                            <div class="form-group local-forms">
                                <label>Aktivite<span class="login-danger">*</span></label>
                                <input asp-for="AkademikTakvimAktivite" class="form-control" type="text">
                                <span asp-validation-for="AkademikTakvimAktivite" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="student-submit">

                                @if (Model == null)
                                {
                                    <button name="Kaydet" value="1" class="btn btn-primary">Kaydet</button>
                                }
                                else
                                {
                                    <button name="Kaydet" value="2" class="btn btn-primary">Kaydet</button>
                                }
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

