@model SifreDegistirViewsModel
@{
    ViewData["Title"] = "SifreDegıstır";
}

<div class="main-wrapper login-body">
    <div class="login-wrapper">
        <div class="container">
            <div class="loginbox">
                <div class="login-left">
                    <img class="img-fluid" src="~/panel/img/login.png" alt="Logo">
                </div>
                <div class="login-right">
                    <div class="login-right-wrap">
                        <h1 class="mb-4">Öğrenci Bilgi Sistemi</h1>

                        <h2>Şifreyi Sıfırla</h2>

                        <form asp-action="ResetPassword" method="post">
                            <div asp-validation-summary="All" class="text-danger">
                                
                                <div class="form-group">
                                    <label>E-Posta <span class="login-danger">*</span></label>
                                    <input asp-for="EPosta" class="form-control" type="text">
                                    <span class="profile-views"><i class="fas fa-user-circle"></i></span>
                                </div>
                                <div class="form-group">
                                    <label>Şifre <span class="login-danger">*</span></label>
                                    <input asp-for="Sifre" class="form-control pass-input" type="password">
                                </div>
                                <div class="form-group">
                                    <label>Şifre Onayı<span class="login-danger">*</span></label>
                                    <input asp-for="SifreTekrari" class="form-control pass-input" type="password">
                                    <span class="profile-views feather-eye toggle-password"></span>
                                </div>
                                <div class="form-group">
                                    <button class="btn btn-primary btn-block " type="submit">Kaydet</button>
                                </div>
                            </div>
                        </form>

                        <div class="login-or">
                            <span class="or-line"></span>
                            <span class="span-or">VEYA</span>
                        </div>
                        <div class="text-center">
                            <a class="btn btn-danger" asp-action="Index">Anasayfa</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


