@model Not
@{
    ViewData["Title"] = "Ekle_Guncelle";
}

<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-body">
                <form asp-controller="Not" asp-action="Ekle_Guncelle" method="post">
                    <input type="hidden" asp-for="OgretmensId" value="@ViewBag.OgretmensId" class="form-control">
                    <div class="row">
                        <div class="col-12">
                            <h5 class="form-title"><span>Not Bilgileri</span></h5>
                        </div>
                        <div class="col-12 col-sm-4">
                            <div class="form-group local-forms">
                                <label>Ödev Notu</label>
                                <input asp-for="NotOdev" class="form-control" type="number">
                                <span asp-validation-for="NotOdev" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-12 col-sm-4">
                            <div class="form-group local-forms">
                                <label>Vize Notu</label>
                                <input asp-for="NotVize" class="form-control" type="number">
                                <span asp-validation-for="NotVize" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-12 col-sm-4">
                            <div class="form-group local-forms">
                                <label>Final Notu</label>
                                <input asp-for="NotFinal" class="form-control" type="number">
                                <span asp-validation-for="NotFinal" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-12">
                            <h5 class="form-title"><span>Tarih Bilgileri</span></h5>
                        </div>
                        <div class="col-12 col-sm-4">
                            <div class="form-group local-forms">
                                <label>Ödev Tarih </label>
                                <input asp-for="NotOdevTarih" class="form-control" type="date">
                                <span asp-validation-for="NotOdevTarih" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-12 col-sm-4">
                            <div class="form-group local-forms">
                                <label>Vize Tarih</label>
                                <input asp-for="NotVizeTarih" class="form-control" type="date">
                                <span asp-validation-for="NotVizeTarih" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-12 col-sm-4">
                            <div class="form-group local-forms">
                                <label>Final Tarih</label>
                                <input asp-for="NotFinalTarih" class="form-control" type="date">
                                <span asp-validation-for="NotFinalTarih" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-12">
                            <h5 class="form-title"><span>Saat Bilgileri</span></h5>
                        </div>
                        <div class="col-12 col-sm-4">
                            <div class="form-group local-forms">
                                <label>Ödev Saat </label>
                                <input name="saat" asp-for="NotOdevSaat" class="form-control" type="text">
                                <span asp-validation-for="NotOdevSaat" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-12 col-sm-4">
                            <div class="form-group local-forms">
                                <label>Vize Saat </label>
                                <input name="saat" asp-for="NotVizeSaat" class="form-control" type="text">
                                <span asp-validation-for="NotVizeSaat" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-12 col-sm-4">
                            <div class="form-group local-forms">
                                <label>Final Saat</label>
                                <input name="saat" asp-for="NotFinalSaat" class="form-control" type="text">
                                <span asp-validation-for="NotFinalSaat" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-12">
                            <h5 class="form-title"><span>Atama Bilgileri</span></h5>
                        </div>
                        <div class="col-12 col-sm-4">
                            <div class="form-group local-forms">
                                <label>Ders <span class="login-danger">*</span></label>
                                <select asp-for="DersId" asp-items="ViewBag.Dersler" class="form-control select2">
                                    <option value="">Seçiniz</option>
                                </select>
                                <span asp-validation-for="DersId" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-12 col-sm-4">
                            <div class="form-group local-forms">
                                <label>Öğrenci <span class="login-danger">*</span></label>
                                <select asp-for="OgrencisId" asp-items="ViewBag.Ogrenciler" class="form-control select2">
                                    <option value="">Seçiniz</option>
                                </select>
                                <span asp-validation-for="OgrencisId" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="student-submit">
                                @if (Model == null)
                                {
                                    <input name="type" id="type" type="hidden" value="0">
                                }
                                else
                                {
                                    <input name="type" id="type" type="hidden" value="1">
                                }
                                <button type="submit" class="btn btn-primary">Onayla</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
