
@{
    ViewData["Title"] = "Ekle_Guncelle";
}
@model Fakulte

<div class="row">
	<div class="col-sm-12">
		<div class="card">
			<div class="card-body">
				<form asp-controller="Fakulte" asp-action="Ekle_Guncelle" method="post">
					@if (Model != null)
					{
						<input name="fakulteId" type="hidden" value="@Model.fakulteId">
					}

					<div class="row">
						<div class="col-12">
							<h5 class="form-title"><span>Fakülte Detayları</span></h5>
						</div>
						<div class="col-12 col-sm-4">
							<div class="form-group local-forms">
								<label>Fakülte Adı <span class="login-danger">*</span></label>
								<input name="fakulteIsim" type="text" class="form-control" value="@Model?.fakulteIsim">
							</div>
						</div>
						<div class="col-12 col-sm-4">
							<div class="form-group local-forms">
								<label>Fakülte Başkanı <span class="login-danger">*</span></label>
								<input name="fakulteProfId" type="number" class="form-control" value="@Model?.fakulteProfId">
							</div>
						</div>
						<div class="col-12">
							<div class="student-submit">
								@if (Model == null)
								{
									<input name="type" id="type" type="hidden" value="0">
								}
								else
								{
									<input name="type" id="type" type="hidden" value="1">
								}
								<button type="submit" class="btn btn-primary">Onayla</button>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>


