@model Fakulte
@{
    ViewData["Title"] = "Ekle_Guncelle";
}
<div class="row">
	<div class="col-sm-12">
		<div class="card">
			<div class="card-body">
				<form asp-controller="Fakulte" asp-action="Ekle_Guncelle" method="post">
					<div class="row">
						<div class="col-12">
							<h5 class="form-title"><span>Fakülte Ekle / Düzenle</span></h5>
						</div>
						<div class="col-12 col-sm-4">
							<div class="form-group local-forms">
								<label>Fakülte Adı <span class="login-danger">*</span></label>
								<input asp-for="FakulteAd" type="text" class="form-control" >
								<span asp-validation-for="FakulteAd" class="text-danger"></span>
							</div>
						</div>
						<div class="col-12 col-sm-4">
							<div class="form-group local-forms">
								<label>Kuruluş Tarihi<span class="login-danger">*</span></label>
								<input asp-for="OlusturmaTarihi" type="date" class="form-control">
								<span asp-validation-for="OlusturmaTarihi" class="text-danger"></span>
							</div>
						</div>
						
						<div class="col-12">
							<div class="student-submit">
								@if (Model == null)
								{
									<input name="type" id="type" type="hidden" value="0">
								}
								else
								{
									<input name="type" id="type" type="hidden" value="1">
								}
								<button type="submit" class="btn btn-primary">Onayla</button>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>


