
@{
    ViewData["Title"] = "Ekle_Guncelle";
}
@model Ders

<div class="row">
	<div class="col-sm-12">
		<div class="card">
			<div class="card-body">
				<form asp-controller="Ders" asp-action="Ekle_Guncelle" method="post">
					<div class="row">
						<div class="col-12">
							<h5 class="form-title"><span>Ders Detayları</span></h5>
						</div>
						<div class="col-12 col-sm-4">
							<div class="form-group local-forms">
								<label>Ders Adı <span class="login-danger">*</span></label>
								<input name="dersIsim" type="text" class="form-control">
							</div>
						</div>
						<div class="col-12 col-sm-4">
							<div class="form-group local-forms">
								<label>Ders Hocası <span class="login-danger">*</span></label>
								<input name="profesorId" type="number" class="form-control">
							</div>
						</div>
						<div class="col-12 col-sm-4">
							<div class="form-group local-forms">
								<label>Ders Kodu <span class="login-danger">*</span></label>
								<input name="dersKod" type="text" class="form-control">
							</div>
						</div>
						<div class="col-12 col-sm-4">
							<div class="form-group local-forms">
								<label>Ders Kredisi <span class="login-danger">*</span></label>
								<input name="dersKredi" type="number" class="form-control">
							</div>
						</div>
						<div class="col-12 col-sm-4">
							<div class="form-group local-forms">
								<label>Ders AKTS <span class="login-danger">*</span></label>
								<input name="dersAkts" type="number" class="form-control">
							</div>
						</div>
						<div class="col-12">
							<div class="student-submit">
								<input name="type" id="type" type="hidden" value="0">
								<button type="submit" class="btn btn-primary">Onayla</button>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>

