<li class="nav-item dropdown noti-dropdown me-2">
    <a href="#" class="dropdown-toggle nav-link header-nav-list" data-bs-toggle="dropdown">
        <img src="~/panel/img/icons/header-icon-05.svg">
    </a>
    <div class="dropdown-menu notifications">
        <div class="topnav-dropdown-header">
            <span class="notification-title">Bildirimler</span>
            <a href="javascript:void(0)" class="clear-noti"> Temizle </a>
        </div>
        <div class="noti-content">
            <ul class="notification-list">
                <li class="notification-message">
                    <a href="#">
                        <div class="media d-flex">
                            <span class="avatar avatar-sm flex-shrink-0">
                                <img class="avatar-img rounded-circle" alt="User Image" src="~/panel/img/profiles/avatar-13.jpg">
                            </span>
                            <div class="media-body flex-grow-1">
                                <p class="noti-details">
                                    <span class="noti-title">Başlık</span>
                                </p>
                                <p class="noti-details">
                                    <span class="noti-title">Duyuru</span>
                                </p>
                                <p class="noti-time"><span class="notification-time">Tarih</span></p>
                            </div>
                        </div>
                    </a>
                </li>

            </ul>
        </div>
        <div class="topnav-dropdown-footer">
            <a asp-action="Index" asp-controller="Duyuru">Tüm Bildirimleri Görüntüle</a>
        </div>
    </div>
</li>
@section Scripts{

    
}