

@{
    ViewData["Title"] = "Ekle_Guncelle";
}


<div class="row">
    <div class="col-sm-12">
        <div class="card comman-shadow">
            <div class="card-body">
                <form asp-action="Ata_Guncelle" asp-controller="Danisman" method="post">
                    <div asp-validation-summary="All" class="text-danger">

                        <div class="row">
                            <div class="col-12">
                                <h5 class="form-title student-info">Danışman Ata<span><a href="javascript:;"><i class="feather-more-vertical"></i></a></span></h5>
                            </div>
                            <div class="col-12 col-sm-4">
                                <div class="form-group local-forms">
                                    <label>Ogrenci Ata<span class="login-danger">*</span></label>
                                    <select class="form-control select">
                                        <option>Ogrenci Ata</option>
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-12 col-sm-4">
                                <div class="form-group local-forms">
                                    <label>Bolum Ata<span class="login-danger">*</span></label>
                                    <select class="form-control select">
                                        <option>Bolum Ata</option>
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>





