
@{
    ViewData["Title"] = "Index";
}
<div class="page-header">
	<div class="row">
		<div class="col-sm-12">
			<div class="page-sub-header">
				<h3 class="page-title">Danışmanlar</h3>
				<ul class="breadcrumb">
					<li class="breadcrumb-item"><a href="students.html">Danışmanlar</a></li>
					<li class="breadcrumb-item active">Tüm Danışmanlar</li>
				</ul>
			</div>
		</div>
	</div>
</div>

<div class="student-group-form">
	<div class="row">
		<div class="col-lg-3 col-md-6">
			<div class="form-group">
				<input type="text" class="form-control" placeholder="ID'ye Göre Ara ...">
			</div>
		</div>
		<div class="col-lg-3 col-md-6">
			<div class="form-group">
				<input type="text" class="form-control" placeholder="Danışman İsmine Göre Ara ...">
			</div>
		</div>
		<div class="col-lg-4 col-md-6">
			<div class="form-group">
				<input type="text" class="form-control" placeholder="Bölüme Göre Ara ...">
			</div>
		</div>
		<div class="col-lg-2">
			<div class="search-student-btn">
				<button type="btn" class="btn btn-primary">Ara</button>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-sm-12">
		<div class="card card-table comman-shadow">
			<div class="card-body">
				<div class="page-header">
					<div class="row align-items-center">
						<div class="col">
							<h3 class="page-title">Danışmanlar</h3>
						</div>
						<div class="col-auto text-end flo	at-end ms-auto download-grp">
							<a href="#" class="btn btn-outline-primary me-2"><i class="fas fa-download"></i> İndir</a>
							<a asp-controller="Danisman" asp-action="Ata_Guncelle" class="btn btn-primary"><i class="fas fa-plus"></i></a>
						</div>
					</div>
				</div>
				<div class="table-responsive">
					<table class="table border-0 star-student table-hover table-center mb-0 datatable table-striped">
						<thead class="student-thread">
							<tr>
								<th>ID</th>
								<th>İsim-Soyisim</th>								
								<th>Bağlı Olduğu Bölüm</th>
								<th>Danışmanı Olunan Öğrenciler</th>
								<th class="text-end">İşlemler</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>*Id*</td>									
								<td>Ad-Soyad</td>
								<td>Bölümü</td>
								<td>Öğrencilerin Listesi</td>
								<td class="text-end">
									<div class="actions ">
									<a href="javascript:;" class="btn btn-sm bg-success-light me-2 ">
										<i class="feather-eye"></i>
									</a>
									<a asp-action="Ata_Guncelle" class="btn btn-sm bg-danger-light">
										<i class="feather-edit"></i>
									</a>
									<a asp-controller="Danisman" asp-action="Sil"  class="btn btn-sm bg-success-light" onclick="return confirm('Silmek istediğinizden emin misiniz?')">
										<i class="feather-trash-2"></i>
									</a>
									</div>
								</td>
							</tr>						
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>


