@model LoginViewsModel

@{

    Layout = "~/Views/Shared/_Layout_Login.cshtml";
}

<div class="main-wrapper login-body">
    <div class="login-wrapper">
        <div class="container">
            <div class="loginbox">
                <div class="login-left">
                    <img class="img-fluid" src="~/panel/img/login.png" alt="Logo">
                </div>
                <div class="login-right">
                    <div class="login-right-wrap">
                        <h1 class="mb-4">Öğrenci Bilgi Sistemi</h1>

                        <h2>Giriş Yap</h2>

                        <form method="post">
                            <div asp-validation-summary="All" class="text-danger">
                                <div class="form-group">
                                    <label>E-Posta <span class="login-danger">*</span></label>
                                    <input asp-for="Email" class="form-control" type="text">
                                    <span class="profile-views"><i class="fas fa-user-circle"></i></span>
                                </div>
                                <div class="form-group">
                                    <label>Şifre <span class="login-danger">*</span></label>
                                    <input asp-for="Password" class="form-control pass-input" type="password">
                                    <span class="profile-views feather-eye toggle-password"></span>
                                </div>
                                <div class="forgotpass row">
                                    <div class="remember-me col-6">
                                        <label class="custom_check mr-2 mb-0 d-inline-flex remember-me">
                                            Beni Hatırla
                                            <input asp-for="RememberMe" type="checkbox" name="radio">
                                            <span class="checkmark"></span>
                                        </label>
                                    </div>

                                    <div class="col-6 text-end">
                                        <a class="border-0 bg-white mb-0 p-0 btn btn-link text-decoration-none  " type="submit" asp-action="ForgotPassword">Şifremi Unuttum</a>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <button class="btn btn-primary btn-block " asp-action="Login" asp-controller="Account" type="submit">Giriş Yap</button>
                                </div>
                            </div>
                        </form>

                        <div class="login-or">
                            <span class="or-line"></span>
                            <span class="span-or">Veya</span>
                        </div>

                        <div class="text-center">
                            <a class="btn btn-danger">E-Devlet İle Giriş Yap</a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

