<div class="content container-fluid">

    <div class="page-header">
        <div class="row">
            <div class="col">
                <h3 class="page-title">Profil</h3>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="index-2.html">Dashboard</a></li>
                    <li class="breadcrumb-item active">Profil</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="profile-header">
                <div class="row align-items-center">
                    <div class="col-auto profile-image">
                        <a href="#">
                            <img class="rounded-circle" alt="User Image" src="~/panel/img/profiles/avatar-02.jpg">
                        </a>
                    </div>
                    <div class="col ms-md-n2 profile-user-info">
                        <h4 class="user-name mb-0">Tuğçe Öztürk</h4>
                        <h6 class="text-muted">Öğrenci</h6>
                        <div class="about-text">İşletme Fakültesi / Yönetim Bilişim Sistemleri Bölümü </div>
                        <div class="user-Location"><i class="fas fa-map-marker-alt"></i>Ankara,Türkiye</div>

                    </div>
                    <div class="col-auto profile-btn">
                        <a href class="btn btn-primary">
                            Düzenle
                        </a>
                    </div>
                </div>
            </div>
            <div class="tab-content profile-tab-cont">

                <div class="tab-pane fade show active" id="per_details_tab">

                    <div class="row">
                        <div class="col-lg-12">
                            <div class="card">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-7">
                                            <h5 class="text-end">Kullanıcı Detayları</h5>
                                        </div>
                                        <div class="col-5 ">
                                            <p class="edit-link text-end" data-bs-toggle="modal" href="#edit_personal_details"><i class="far fa-edit me-1"></i>Düzenle</p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="row">
                                                <p class="col-sm-6 text-sm-end mb-0 mb-sm-3">Tc Kimlik Numarası:</p>
                                                <p class="col-sm-6">36925814778</p>
                                            </div>
                                            <div class="row">
                                                <p class="col-sm-6 text-sm-end mb-0 mb-sm-3">Ad:</p>
                                                <p class="col-sm-6">Tuğçe</p>
                                            </div>
                                            <div class="row">
                                                <p class="col-sm-6 text-sm-end mb-0 mb-sm-3">Soyad:</p>
                                                <p class="col-sm-6">Öztürk</p>
                                            </div>
                                            <div class="row">
                                                <p class="col-sm-6 text-sm-end mb-0 mb-sm-3">Doğum Tarihi:</p>
                                                <p class="col-sm-6">10-10-2010</p>
                                            </div>                                          
                                        </div>
                                        <div class="col-sm-6">
                                             <div class="row">
                                                <p class="col-sm-6 text-sm-end mb-0 mb-sm-3">E mail Adresi:</p>
                                                <p class="col-sm-6">Ogrenci@gmail.com</p>
                                            </div>
                                            <div class="row">
                                                <p class="col-sm-6 text-sm-end mb-0 mb-sm-3">Cinsiyet:</p>
                                                <p class="col-sm-6">Kız</p>
                                            </div>
                                            <div class="row">
                                                <p class="col-sm-6 text-sm-end mb-0 mb-sm-3">Telefon Numarası:</p>
                                                <p class="col-sm-6">305-310-5857</p>
                                            </div>
                                            <div class="row">
                                                <p class="col-sm-6 text-sm-end mb-0">Adres:</p>
                                                <p class="col-sm-6 mb-0">İstanbul,Türkiye</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
